body{
	color:#666;
}
.site {
	background: #fff;
	border: none;
	margin: 0;
	min-width: 492px;
	width: 100%;
	z-index: 1;
}
.site h1{
	background: url(../img/logo.png) left top no-repeat;
	height: 70px;
	margin:10px 0;
	overflow:hidden;
	text-indent:-9999px;
	width:241px;
}
.site h2{
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #005082),
		color-stop(1, #1D6799)
	);
	background-image: -o-linear-gradient(bottom, #005082 0%, #1D6799 100%);
	background-image: -moz-linear-gradient(bottom, #005082 0%, #1D6799 100%);
	background-image: -webkit-linear-gradient(bottom, #005082 0%, #1D6799 100%);
	background-image: -ms-linear-gradient(bottom, #005082 0%, #1D6799 100%);
	background-image: linear-gradient(to bottom, #005082 0%, #1D6799 100%);
	color:#fff;
	font-size:22px;
	margin:0;
	padding:24px 0;
}
.site .navbar-right li a{
	line-height:60px;
}
h3{
	color:#666;
	font-size:30px;
	font-weight:normal;
	margin-bottom:20px;
	text-transform:uppercase;
}
h4{
	color:#226092;
	font-size:24px;
	margin-bottom:20px;
}
h5{
	font-size:14px;
	font-weight:bold;
	margin:12px 0;
}
.main{
	padding-top:162px;
}
.main section{
	border-bottom:1px solid #ccc;
	padding:0 0 12px 0;
}
.section-nav{
	background:#fff;
	border-right:1px dotted #ccc;
	opacity:0.85;
	padding:10px 0 0 0;
}
.section-nav a{
	color:#666;
	text-transform:uppercase;
}
.section-nav .active a{
	color:#236192;
	font-weight:bold;
}
.btn{
	border-radius:0;
	border-width:0;
}
.btn:hover{
	text-decoration:underline;
}
.btn-primary,
.btn-primary:hover{
	background-color:#78BE20;
}
/*responsive*/
@media (max-width: 767px) {
	.site .navbar-right{
		float:right;
	}
	.site .navbar-nav{
		margin:0;
	}
	.site .navbar-nav li{
		float:left;
	}
	.site h2{
		white-space:nowrap;
	}
	.navbar-scrollspy {display:none;}
}